@import "bootstrap.min.css";
@import "scss/_functions.scss";
@import "scss/_variables.scss";
@import "scss/mixins/_breakpoints.scss";
@import "locomotive-scroll.css";

@font-face {
  font-family: Grotesk;
  src: url(../fonts/FoundersGroteskText-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Grotesk;
  src: url(../fonts/FoundersGroteskText-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Grotesk;
  src: url(../fonts/FoundersGroteskText-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Blak;
  src: url(../fonts/BlakNormal.otf);
  font-weight: 700;
}

$white-color: #fff;
$black-color: #000;
$primary-color: #D26C60;
$golder-color: #bf924a;
$pink-color:#F6C9EF;

$purple-color: #7463BA;

$text-color: #222933;
$gray-color: #A5A5A5;
$gold-color: #DBB34A;
body {
  color: $black-color;
  font-family: Grotesk, 'sans-serif';
  //width: 100vw;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.3s;

  &:hover {
    text-decoration: none;
  }
}

.page-container {
  position: relative;
  background-color: #f5f5f5;
  padding-top: 110px;

  &.about-page {
    background-color: #FFEEEB;
    footer.main-footer{
      margin-top: 0;
    }
  }
}

.placeholder-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  bottom: 0;

  span {
    position: absolute;
    width: 250%;
    height: 100vh;
    z-index: 99;
    left: -75%;
    top: 0;
    background-color: $black-color;
  }

  .placeholder {
    position: absolute;
    width: 250%;
    height: 100vh;
    z-index: 99999;
    background-color: $primary-color;
    left: -75%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 15%;
      height: auto;
      opacity: 1;
      animation-name: arrow-animate;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }
}

.main-wrapper {
  position: relative;
  height: 100vh;
  background-color: $primary-color;
}

#header {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 30px 0;
  //background-color: rgba($primary-color, 0.5);

  .logo {
    img {
      opacity: 0;
      height: 50px;
      width: auto;
      @include media-breakpoint-down(md) {
        height: 40px;
      }
    }

  }

  .menu-list {
    li:not(:last-child) {
      margin-right: 30px;
    }

    li {
      opacity: 0;
      transform: scale(0.5) translateX(-70px);

      a {
        font-weight: 500;
        font-size: 30px;
        color: $black-color;
        transition: all ease-in-out 0.6s;
      }

      &.hover {
        a {
          color: $black-color;
        }
      }

      &.notHover {
        a {
          color: rgba($black-color, 0.5);
        }
      }
    }
  }
}

#myVideo {
  display: block;
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  padding: 10px 0;

  p {
    font-size: 30px;
    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }

  a {
    color: $black-color;
    font-size: 30px;
    font-family: Blak, "sans-serif";
    @include media-breakpoint-down(md) {
      font-size: 20px;
    }

    &:first-child {
      margin-right: 15px;
    }

    &:hover {
      color: $purple-color;
    }
  }
}

.mobile-menu {
  overflow: hidden;
  opacity: 0;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 9000;
  background-color: $primary-color;
  width: 100%;

  ul {
    margin: 0;

    li {
      &:nth-child(odd) {
        transform: translateX(150px);
      }

      &.tow {
        transform: translateX(-150px);
      }

      opacity: 0;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      a {
        font-size: 70px;
        font-weight: 500;
        color: $black-color;
      }
    }
  }
}

#menu-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 9001;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid $black-color;
  cursor: pointer;

  .menu-line-container {
    width: 100%;
    position: relative;
    height: 46%;
  }

  span {
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    img{
      width: 100%;
    }

    &.line1 {
      top: -5px;
    }

    &.line2 {
      top: 6px;
    }
  }
}

.big-top-title {
  &.big-top-title-2 {
    h2 {
      font-size: 7.2vw;

      &.title-big-2 {
        font-size: 7vw;
        height: 7.2vw;

        span {
          top: -2vw;
        }
      }
    }
  }

  h2 {
    font-size: 8.2vw;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    height: 9.2vw;
    margin: 0;

    span {
      position: absolute;
      z-index: 4;
      display: block;
      line-height: 9vw;
    }
  }
}

.first-section {
  @include media-breakpoint-up(lg) {
    height: calc(100vh - 110px);
  }
}

.arrow-down {
  position: absolute;
  bottom: 40px;
  animation-name: arrow-animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  img {
    height: 80px;
    width: auto;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.arrow-down-right {
  right: 0;
}

.arrow-down-left {
  left: 0;
}

@keyframes arrow-animate {
  0% {
    transform: translateY(-20px);
    opacity: 0.5
  }
  50% {
    transform: translateY(0);
    opacity: 1
  }
  100% {
    transform: translateY(-20px);
    opacity: 0.5
  }
}

.full-width-img {
  width: 100%;
  height: auto;
}

.main-title {
  transition: all ease 0.2s;
  font-family: Blak, 'sans-serif';
  font-size: 100px;
  text-transform: uppercase;
  @include media-breakpoint-down(md) {
    font-size: 48px;
  }

  &.top-left-main-title {
    top: -60px;
    left: 15px;
    position: absolute;
    z-index: 2;
    @include media-breakpoint-down(md) {
      top: -28px;
    }
  }

  &.bottom-right-main-title {
    bottom: 0;
    right: 15px;
    position: absolute;
    z-index: 2;
    margin: 0;
  }
}

.scale-rotate-img {
  img {
    transform: scale(1.2) rotate(5deg);
  }
}

.scale-rotate-img-reverse {
  img {
    transform: scale(1.2) rotate(-5deg);
  }
}

.my-breadcrumb {
  font-size: 20px;

  span {
    border-bottom: 1px solid $black-color;
  }
}

.card-container {
  position: relative;

  a {
    overflow: hidden;
    clip-path: polygon(30% 10%, 70% 10%, 70% 90%, 30% 90%);
    //opacity: 0;
    display: block;
    transform: translateY(150px);
    transition: none;
  }

  &.card-1 {
    .my-breadcrumb {
      position: absolute;
      top: 0;
      left: 105%;
      width: 50%;
      line-height: 25px;
      @include media-breakpoint-down(md) {
        position: static;
        margin-bottom: 40px;
      }
    }
  }

  &.card-2 {
    .my-breadcrumb {
      position: absolute;
      bottom: 0;
      right: 105%;
      width: 50%;
      line-height: 25px;
      text-align: right;
      @include media-breakpoint-down(md) {
        position: static;
        float: right;
      }
    }

    @include media-breakpoint-up(md) {
      margin-top: 70%;
    }
  }

  .top-right-main-title {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
  }

  .bottom-left-main-title {
    position: absolute;
    color: white;
    bottom: 15px;
    left: 15px;
  }
}

.main-footer {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 70px;
  @include media-breakpoint-down(md) {
    margin-top: 40px;
  }
  background-color: $purple-color;
  color: white;

  a {
    font-family: Blak, 'sans-serif';
    color: white;

    &.big-footer-link {
      font-size: 100px;
      @include media-breakpoint-down(md) {
        font-size: 40px;
      }
    }
  }

  p {
    color: white;
    font-size: 25px;
    @include media-breakpoint-down(md) {
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}

.arrow-right {
  max-width: 450px;
  width: 100%;

}

.arrow-up {
  max-width: 150px;
  position: relative;
  top: -35px;
  @include media-breakpoint-down(md) {
    max-width: 80px;
    top: -24px;
  }
}

.footer-social {
  margin-bottom: 5px;

  li {
    &:not(:last-child) {
      margin-right: 30px;
    }

    a {
      color: white;
      font-family: Blak, "sans-serif";
      font-size: 50px;
      @include media-breakpoint-down(md) {
        font-size: 30px;
      }
    }
  }

}

.mt-30 {
  margin-top: 30px;
}

.y-150 {
  transform: translateY(150px);
}

.clip-path {
  clip-path: polygon(30% 10%, 70% 10%, 70% 90%, 30% 90%);
  overflow: hidden;
}

.opacity-0 {
  opacity: 0;
}

.paragraph {
  p {
    font-size: 25px;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }
}

.about-first-section {
  .section-img-container {
    margin-top: -7vw;
  }

  .big-top-title {
    h2 {
      font-size: 9.3vw;
      height: 10vw;

      span {
        @include media-breakpoint-down(md) {
          line-height: 10vw;
        }
      }
    }
  }
}

.t-1 {
  margin-top: -7vw;
}

.about-first-section {
  padding-bottom: 80px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;
  }
  position: relative;

  .arrow-down-right {
    bottom: 30px;
  }

  .section-img-container {
    img {
      transform: translateY(100px);
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
  }
}

.about-second-section {
  background-color: #F0D0CD;
  overflow: hidden;

  .arrow-down {
    bottom: 10px;
  }

  h2 {
    font-size: 9vw;
    font-family: Blak, 'sans-serif';
    line-height: 9vw;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(100px);
    @include media-breakpoint-down(md) {
      font-size: 45px;
      margin-bottom: 20px;
      line-height: 1.1;
    }
  }
}

.description-container {
  &.d-pl {
    padding-left: 22vw;
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }

  p {
    opacity: 0;
    transform: translateY(100px);
    font-size: 3.2vw;
    @include media-breakpoint-down(lg) {
      font-size: 25px;
      text-align: left !important;
    }
    @include media-breakpoint-down(md) {
      font-size: 17px;
    }
  }
}

.bg-1 {
  background-color: #FDEFFA;
}

.desc-2-container {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 66vw;
  text-align: right;
  @include media-breakpoint-down(md) {
    position: static;
    width: 100%;
    p {
      font-size: 16px;
    }
  }

  p {
    font-size: 3.4vw;
  }
}

.about-third-section {
  .arrow-down-right {
    right: 60px;
  }

  p {
    opacity: 0;
    transform: translateY(50px);
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      margin-top: 15px;
      font-size: 17px;
    }
  }

  img {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}

.we {
  position: relative;
  font-size: 130px;
  line-height: 120px;
  font-family: Blak, "sans-serif";
  @include media-breakpoint-down(lg) {
    font-size: 50px;
    line-height: 57px;
    margin-top: 20px;
  }
}

.v-line {
  top: 0;
  position: absolute;
  display: block;
  width: 2px;
  height: 83%;
  left: 50px;
  background-color: $black-color;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.about-fourth-section {

  .v-line {
    top: 188px;
    height: 0;
  }

  img {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

.desc-3-container {
  position: absolute;
  left: 0;
  top: 5px;
  width: 43vw;
  z-index: 2;

  p {
    font-size: 3.2vw;
    opacity: 0;
    transform: translateY(50px);
  }

  @include media-breakpoint-down(lg) {
    position: static;
    width: 100%;
    margin-top: 20px;
    p {
      font-size: 17px;
    }
  }
}

.bg-2 {
  background-color: #FBF1F0;
}

.cultural-section {
  position: relative;
  z-index: 2;
  @include media-breakpoint-down(lg){
    margin-bottom: 20px;
  }
  img {
    width: 75px;
    height: auto;
    @include media-breakpoint-down(lg){
      width: 32px;
    }
  }

  p {
    opacity: 0;
    transform: translateY(50px);
    font-size: 3.2vw;
    margin-top: -7px;
    margin-bottom: 0;
    @include media-breakpoint-down(lg){
      font-size: 17px;
    }
  }
}

.about-fifth-section {
  @include media-breakpoint-up(lg){
    padding-bottom: 90px !important;
  }
  .v-line {
    top: 370px;
    height: 0;
  }

  .section-img-container {
    margin-top: -9.3vw;
    @include media-breakpoint-down(md){
      margin-top: 0;
    }
  }


  .be-section {
    margin-top: -9vw;
    @include media-breakpoint-down(md){
      margin-top: 0;
    }
    .be {
      position: relative;
      font-size: 130px;
      line-height: 120px;
      font-family: Blak, "sans-serif";
      @include media-breakpoint-down(lg) {
        font-size: 50px;
        line-height: 57px;
        margin-top: 20px;
      }
    }

    p {
      font-size: 4.3vw;
      opacity: 0;
      transform: translateY(50px);
      margin-bottom: 0;
      @include media-breakpoint-down(md) {
        margin-top: 15px;
        font-size: 17px;
      }
    }
  }
}
.our-service-section{
  .our-service-outer{
    .v-line{
      height: 0;
      top: -110px;
    }
    @include media-breakpoint-up(lg){
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  background-color: #F0D0CD;
  .title-1{
    margin-bottom: 30px;
  }
  .service-accordion{
    padding-top: 50px;
    padding-bottom: 50px;
    .card-body{
      padding: 0;
      ul{
        padding-left: 5px;
        li{
          font-size: 20px;
          @include media-breakpoint-down(md){
            font-size: 15px;
          }
        }
      }
    }
    .card{
      opacity: 0;
      transform: translateY(100px);
      border: 0;
      background-color: transparent;
      .card-header{
        border-bottom: 0;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
        button{
          display: block;
          position: relative;
          padding: 0;
          width: 100%;
          text-align: left;
          text-decoration: none;
          color: $black-color;
          font-size: 50px;
          @include media-breakpoint-down(md){
            font-size: 25px;
          }
          &:before{
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            background-color: $black-color;
            height: 3px;
            border-radius: 30px;
            transition: all ease-in-out 0.4s;
            @include media-breakpoint-down(md){
              width: 20px;
              height: 2px;
            }
          }
          &:after{
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            background-color: $black-color;
            height: 3px;
            border-radius: 30px;
            transition: all ease-in-out 0.4s;
            @include media-breakpoint-down(md){
              width: 20px;
              height: 2px;
            }
          }

          &:hover{
            text-decoration: none;
          }
        }
        button[aria-expanded="false"]{
          &:after{
            transform: rotate(90deg) translate(-1px ,-1px);
            @include media-breakpoint-down(md){
              transform: rotate(90deg) translate(0 ,0);
            }
          }
          &:before{
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
.our-client-section{
  background-color: white;
  h2{
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 40px;
    @include media-breakpoint-down(md){
      font-size: 28px;
      margin-bottom: 15px;
    }
  }
  .clint-img-container{
      display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    opacity: 0;
    @include media-breakpoint-down(md){
      height: 130px;
    }
    img{
      max-height: 100px;
      max-width: 58%;
      filter: grayscale(100%);
      @include media-breakpoint-down(md){
        max-width: 85%
      }

    }
  }
}
.connect-page{

  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y:auto;
  align-items: center;
  justify-content: center;
  background-color: $purple-color;
  transform: translateX(100%);
  @include media-breakpoint-down(lg){
    padding-top: 30px;
    display: block;
  }
}
.arrow-back{
  img{
    width: 50px;
  }
}
.v-container{
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

.left-side{
  h2{
    font-size: 6vw;
    color: $pink-color;
    line-height: 5.5vw;
    margin-bottom: 30px;
    @include media-breakpoint-down(md){
      font-size: 33px;
      line-height: 1.1;
    }
  }
  .link-q{
    margin-bottom: 30px;
    @include media-breakpoint-down(md){
      margin-bottom: 20px;
    }
    p{
      color: $pink-color;
      margin-bottom: 0;
      font-size: 20px;
      line-height: 22px;
    }
    a{
      font-size: 20px;
      font-weight: 500;
      color: $pink-color;
      &:hover{
        color: $black-color;
      }
    }
  }
  .footer-social{
    a{
      &:hover{
        color: $black-color;
      }
    }
  }
}

.form-container{
  margin-top: 20px;
  @include media-breakpoint-down(lg){
    margin-bottom: 30px;
  }
  .input-container{
    margin-bottom: 30px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 20%;
      right: 0;
      bottom: 0;
      background-color: white;
      transition: all ease-in-out 0.6s;
    }
    &.focus{
      &:after{
        height: 60%;
      }
    }
    &.textarea{
      &:after{
        height: 100%;
      }
    }
    input, textarea{
      padding-left: 15px;
      padding-right: 15px;
      display: block;
      font-size: 20px;
      outline: 0;
      box-shadow: none;
      color: white;
      width: 100%;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid white;
      &::placeholder{
        color: white;
      }
    }
    textarea{

    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-container{
  position: relative;
  display: inline-block;
  border-top: 2px solid transparent;
  transition: all ease-in-out 0.6s;
  &:after{
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 50%;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: all ease-in-out 0.6s;
  }
  &:before{
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 50%;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: all ease-in-out 0.6s;
  }
  &:hover{
    border-top-color: white;
    &:after{
       height: 100%;
     }
    &:before{
      height: 100%;
    }
  }
  button{
    cursor: pointer;
    border: 0;
    border-bottom: 2px solid #fff;
    color: white;
    background-color: transparent;
    font-weight: 500;
    padding: 5px 25px;
    font-size: 25px;
  }
}
.nav_active{
  height: 100vh !important;
  overflow: hidden !important;
}

