@import "bootstrap.min.css";
@import "scss/_functions.scss";
@import "scss/_variables.scss";
@import "scss/mixins/_breakpoints.scss";
@import "locomotive-scroll.css";
@font-face {
  font-family: Grotesk;
  src: url(../fonts/FoundersGroteskText-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Grotesk;
  src: url(../fonts/FoundersGroteskText-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: Grotesk;
  src: url(../fonts/FoundersGroteskText-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Blak;
  src: url(../fonts/BlakNormal.otf);
  font-weight: 700;
}

$white-color: #fff;
$black-color: #000;
$primary-color: #D26C60;
$golder-color: #bf924a;

$purple-color: #6A5AB2;

$text-color: #222933;
$gray-color: #A5A5A5;
$gold-color: #DBB34A;
body {
  color: $black-color;
  font-family: Grotesk, 'sans-serif';
  //width: 100vw;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.3s;

  &:hover {
    text-decoration: none;
  }
}
.page-container{
  position: relative;
  background-color: #f5f5f5;
  padding-top: 110px;
}
.placeholder-container{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  bottom: 0;

  span{
    position: absolute;
    width: 250%;
    height: 100vh;
    z-index: 99;
    left: -75%;
    top: 0;
    background-color: $black-color;
  }
  .placeholder{
    position: absolute;
    width: 250%;
    height: 100vh;
    z-index: 99999;
    background-color: $primary-color;
    left: -75%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
      width: 15%;
      height: auto;
      opacity: 1;
      animation-name: arrow-animate;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }
}

.main-wrapper {
  position: relative;
  height: 100vh;
  background-color: $primary-color;
}

#header {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 30px 0;
  //background-color: rgba($primary-color, 0.5);

  .logo {
    img { opacity: 0;
      height: 50px;
      width: auto;
      @include media-breakpoint-down(md){
        height: 40px;
      }
    }

  }

  .menu-list {
    li:not(:last-child) {
      margin-right: 30px;
    }

    li {
      opacity: 0;
      transform: scale(0.5) translateX(-70px);
      a {
        font-weight: 500;
        font-size: 30px;
        color: $black-color;
        transition: all ease-in-out 0.6s;
      }

      &.hover {
        a {
          color: $black-color;
        }
      }

      &.notHover {
        a {
          color: rgba($black-color, 0.5);
        }
      }
    }
  }
}

#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;

}

#footer {

  background-color: rgba($primary-color, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  padding: 10px 0;
  p{
    font-size: 30px;
    @include media-breakpoint-down(md){
      font-size: 20px;
    }
  }
  a{
    color: $black-color;
    font-size: 30px;
    font-family: Blak, "sans-serif";
    @include media-breakpoint-down(md){
      font-size: 20px;
    }
    &:first-child{
      margin-right: 15px;
    }
    &:hover{
      color: $purple-color;
    }
  }
}
.mobile-menu{
  overflow: hidden;
  opacity: 0;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 11;
  background-color: $primary-color;
  width: 100%;
  ul{
    margin: 0;
    li{
      &:nth-child(odd){
        transform: translateX(150px);
      }
      &.tow{
        transform: translateX(-150px);
      }
      opacity: 0;
      text-align: center;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      a{
        font-size: 70px;
        font-weight: 500;
        color: $black-color;
      }
    }
  }
}
#menu-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  z-index: 12;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid $black-color;
  cursor: pointer;
  .menu-line-container{
    width: 100%;
    position: relative;
  }
  span{
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: $black-color;
    &.line1{
      top: -5px;
    }
    &.line2{
      top: 5px;
    }
  }
}

.big-top-title{
  &.big-top-title-2{
    h2 {
      font-size: 7.2vw;
    }
  }
  h2{
    font-size: 8.2vw;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    height: 9.2vw;
    margin: 0;
    span{
      position: absolute;
      z-index: 4;
      display: block;
      line-height: 9vw;
    }
  }
}
.first-section{
  @include media-breakpoint-up(lg){
    height: calc(100vh - 110px);
  }
}
.arrow-down{
  position: absolute;
  bottom: 40px;
  animation-name: arrow-animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  img{
    height: 80px;
    width: auto;
  }
  @include media-breakpoint-down(lg){
    display: none;
  }
}
.arrow-down-right{
  right: 0;
}
.arrow-down-left{
  left: 0;
}

@keyframes arrow-animate {
  0%   {transform: translateY(-20px); opacity: 0.5}
  50%   {transform: translateY(0); opacity: 1}
  100% {transform: translateY(-20px); opacity: 0.5}
}

.full-width-img{
  width: 100%;
  height: auto;
}
.main-title{
  transition: all ease 0.2s;
  font-family: Blak, 'sans-serif';
  font-size: 100px;
  text-transform: uppercase;
  @include media-breakpoint-down(md){
    font-size: 48px;
  }
  &.top-left-main-title{
    top: -60px;
    left: 15px;
    position: absolute;
    z-index: 2;
    @include media-breakpoint-down(md){
      top: -28px;
    }
  }
  &.bottom-right-main-title{
    bottom:0;
    right: 15px;
    position: absolute;
    z-index: 2;
    margin: 0;
  }
}

.scale-rotate-img{
   img{
     transform: scale(1.2) rotate(5deg);
   }
  }
.scale-rotate-img-reverse{
  img{
    transform: scale(1.2) rotate(-5deg);
  }
}
.my-breadcrumb{
  font-size: 20px;
  span{
    border-bottom: 1px solid $black-color;
  }
}
.card-container{
  position: relative;
  a{
    overflow: hidden;
    clip-path: polygon(30% 10%, 70% 10%, 70% 90%, 30% 90%);
    //opacity: 0;
    display: block;
    transform: translateY(150px);
    transition: none;
  }
  &.card-1{
    .my-breadcrumb{
      position: absolute;
      top: 0;
      left: 105%;
      width:50%;
      line-height: 25px;
      @include media-breakpoint-down(md){
        position: static;
        margin-bottom: 40px;
      }
    }
  }
  &.card-2{
    .my-breadcrumb{
      position: absolute;
      bottom: 0;
      right: 105%;
      width:50%;
      line-height: 25px;
      text-align: right;
      @include media-breakpoint-down(md){
        position: static;
        float: right;
      }
    }
    @include media-breakpoint-up(md){
      margin-top: 70%;
    }
  }
  .top-right-main-title{
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
  }
  .bottom-left-main-title{
    position: absolute;
    color: white;
    bottom: 15px;
    left: 15px;
  }
}
.main-footer{
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 70px;
  @include media-breakpoint-down(md){
    margin-top: 40px;
  }
  background-color: $purple-color;
  color: white;
  a{
    font-family: Blak, 'sans-serif';
    color: white;
    &.big-footer-link{
      font-size: 100px;
      @include media-breakpoint-down(md){
        font-size: 40px;
      }
    }
  }
  p{
    color: white;
    font-size: 25px;
    @include media-breakpoint-down(md){
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}
.arrow-right{
  max-width: 450px;
  width: 100%;

}
.arrow-up{
  max-width: 150px;
  position: relative;
  top: -35px;
  @include media-breakpoint-down(md){
    max-width: 80px;
    top: -24px;
  }
}
.footer-social{
  margin-bottom: 5px;
  li{
    &:not(:last-child){
      margin-right: 30px;
    }
    a{
      color: white;
      font-family: Blak, "sans-serif";
      font-size: 50px;
      @include media-breakpoint-down(md){
        font-size: 30px;
      }
    }
  }

}
.mt-30{
  margin-top: 30px;
}

.y-150{
  transform: translateY(150px);
}
.clip-path{
  clip-path: polygon(30% 10%, 70% 10%, 70% 90%, 30% 90%);
  overflow: hidden;
}
.opacity-0{
  opacity: 0;
}
.paragraph{
  p{
    font-size: 25px;
    @include media-breakpoint-down(md){
      font-size: 16px;
    }
  }
}
